.cont{

        align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conta{
        align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgb(182, 182, 182);
width: 200px;
height: 200px;
    display: flex;
align-items: center;
gap: 20px;

}
button{
width: 40px;
border: 2px solid rgb(0, 0, 0);
border-radius: 10px;
}
h1{
    color: rgb(0, 0, 0);
    margin-bottom: 100px;
}